<div class="container">
  <h2>Dashboard</h2>
  <p>Welcome to the admin dashboard!</p>
  <button class="btn btn-primary" routerLink="/users">View Users</button>
  <button class="btn btn-primary" routerLink="/zones">View Zones</button>
  <button class="btn btn-primary" routerLink="/events">View Events</button>
  <button class="btn btn-primary" routerLink="/bookings">View Bookings</button>
  <button class="btn btn-primary" routerLink="/booth-bookings">View Booked Booths</button> <!-- ปุ่มใหม่สำหรับการดูบูธที่ถูกจอง -->
</div>
